body{
    margin:0;
    text-align: center;
    font-family: 'Happy Monkey';
  
}
.overview{ 
display: flex;
flex-direction: column;
align-items: center;
width:100%;
height:500px;
border-radius:1px;    
background-image: url(Images/CharminarHyd1.jpg);
background-size: cover;
}
.overview:hover{
    background-image: url(Images/CharminarHyd.jpg); 
}
@media only screen and (max-width: 700px) {
    p{
     min-width: 200px;
    }
  }

#visithyd{
    color:white;
    background-color:#1B4242;
    margin:50px 210px 30px 350px;
    border-radius: 3px;
}
#tagline{
    color:white;
    background-color:#4F6F52;
    margin-left: 200px;
    margin-right:100px;
    border-radius: 3px;
}
.suboverview{
    background-color: #F8FFD2;
    width:100%;
    height:260px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
p{
    display: block;
}
#img1{
    width:100px;
    height:100px;
    border-radius: 100px;
}
#img2{
    width:100px;
    height:100px; 
    border-radius: 100px;
}
#img3{
    width:100px;
    height:100px; 
    border-radius: 100px;
}
.footer{
    display: flex;
    flex-direction: row;
    background-color:#B2C8BA;
    margin:40px auto;
    width:400px;
    border-bottom: 5px solid lightblue;
}
#tourimg{
    width:150px;
    height:150px;
    border-radius: 100px;
    padding:10px;
}


