
body{
  margin:0px;
  flex-direction: row;
  align-items: center;
  font-family: 'Cantarell', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  font-size:15px;
}
#confirm{
  padding:10px;
  background-color: #392467;
  color:white;
  border-radius: 4px;
  border : 1px solid white;
  width:300px;
  margin-top:12px;
}
input{
  border-radius:4px;
  border:1px solid rgb(212, 212, 212);
  padding:9px;
  width:280px;
  margin-top:8px;
}
.login{
  display: flex;
  flex-direction: column;
  margin : 240px 650px;
}
.main{
  display: flex;
  flex-direction: row;
  align-items:center;
}
   .middle{
  position: absolute;
  font-size:x-large;
  top: 50%;
  left: 13%;

}
.left{
  position: relative;
  bottom: 50px;
  right: 80px;
}
.right{
  position: relative;
  bottom: 73px;
  left: 80px;
}
.leftback{
  position: absolute;
  top: 43%;
  left: 80%;
}
.date{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inputdate{
  display: flex;
  flex-direction: row;
  margin-top:2px;
  margin-bottom: 7px;
}
#m{
  width:30px;
}
#mainimg{
  margin-right:10px;
  width:400px;
  position: absolute;
  top:0px;
  left:0px;
}
#y{
  margin-left:10px;
  width:50px;
}
#cvc{
  margin-left:20px;
  width:130px;
}
.carddata{
    text-align: center;
    color: white;
    position: absolute;
    top:150px;
    left:60px;
}
.icon1{
  position: absolute;
  top:30px;
  left:30px;
}
.icon2{
  width:20px;
  position:absolute;
  top:35px;
  left:70px;
}
  .backcard{
  position:relative;
    color: white;
    position: absolute;
    top:400px;
    left:130px;
}
.holder_name{
  display: flex;
  flex-direction: column;
  margin-bottom:10px;
}
.cardnum{
  margin-bottom:10px;
}
.frontimg{
  width:400px;
}
.backimg{
  width:400px;
}
.expcvc{
  display: flex;
  flex-direction: row;
  justify-content:start;
}