body {
    margin: 20px;
    margin-top:100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.avatar {
    width: 150px;
     border-radius: 1000px;
     border: 1px solid blue;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #F7ECDE;
    border-bottom: 6px solid #d8cefe;
}
.border-blue {
    border: 1px solid red;
}



